.embla {
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  