.banner{
  padding:12px 15px;
  background:#fff3cd;
  border-bottom:1px solid #ffe69c;
  @media (max-width: 767px) {
    padding: 5px;
  }
  p{
  margin:0;
  font-size:13px;
  color:#664d03;
  @media (max-width: 767px) {
    font-size: 11px;
  }
  }
  }