.bannerWrapper {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  padding: 10px 10px;
  @media (max-width: 767px) {
    padding: 5px;
  }
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 20px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  @media (max-width: 767px) {
    padding: 10px 10px;
    border-radius: 5px;
    background: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
}

.slideContent {
  max-width: 800px;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 300px;
  }
}

.slideContent h2 {
  font-size: 2rem;
  margin-bottom: 12px;
  color: #333;
  @media (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 7px;
    color: #fff;
  }
}

.slideContent p {
  font-size: 1.1rem;
  color: #666;
  @media (max-width: 767px) {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    line-height: 15px;
    max-width: 300px;
    // letter-spacing: 0.3px;
  }
}
.skeletonContainer {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  
}

.skeletonSlide {
  width: 100%;
  background: #eee;
  border-radius: 12px;
  padding: 20px 0 10px;
  animation: loading 1.5s infinite;
}

.skeletonTitle {
  width: 30%;
  height: 24px;
  background: #ccc;
  margin:  0 auto;
  margin-bottom: 12px;
  border-radius: 4px;
}

.skeletonText {
  width: 90%;
  height: 16px;
  background: #ddd;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@keyframes loading {
  0% {
    background-color: #f5f5f5;
  }
  50% {
    background-color: #fdfdfd;
  }
  100% {
    background-color: #f0f0f0;
  }
}
