.banner {
    position: relative;
    @media screen and (max-width: 767px) {
      position: initial;
    }
    width: 75%;// Adjust the height as needed
    // padding: 100px 0 60px;
    // background-color: #ff6500;
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      width: 50%;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .content {
      z-index: 1; // Ensures the text is above the image
      text-align: center;
      color: #000;
      width: 100%;
      // max-width: 900px;
      margin: 0 auto;
      .bannerContent{
        // max-width: 570px;
        margin: 0 auto;
        margin-bottom: 20px;
      .heading {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: capitalize;
        color: #fff;
        @media screen and (max-width: 767px) {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
  
      .text {
        font-size: 14px;
        margin-bottom: 0;
        color: #fff;
      }
  
      .ctaButton {
        padding: 0.8rem 1.5rem;
        background-color: #ff5722;
        border: none;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #e64a19;
        }
      }
      &.bannerContentLink{
        margin-top: 20px;
        display: inline-block;
        a{
          background-color: #3F2200;
          color: #fff;
          padding: 15px 30px;
          margin: 0 10px;
          font-size: 16px;
          border-radius: 5px;
          span{
            color: #fff;
          }
          @media screen and (max-width: 767px) {
            padding: 10px 15px;
            margin: 0 5px;
            font-size: 14px;
          }
        }
      }
    }
      .searchSection {
        display: flex;
        // margin: 0 0 40px;
        align-items: center;
        // @media screen and (max-width: 767px) {
        //   margin: 0 0 15px;
        // }
        .selectCategory,.citySelectSection {
          position: relative;
          
          .categoryDropdown {
            padding: 25px 35px 25px 25px;
            border-radius: 5px 0 0 5px;
            background: #ffffff;
            color: #12163f;
            margin-right: 0;
            font-size: 0.9rem;
            border: none;
            border-right: 0;
            appearance: none;
            position: relative;
            cursor: pointer;
            color: #404040;
          }
    
          &::before {
            content: "\e803";
            font-size: 20px;
            position: absolute;
            right: 0;
            color: #4b4949;
            z-index: 99;
            top: 23px;
            right: 15px;
            font-family: 'fontello';
            font-size: 24px;
          }
    
          select {
            &:focus-visible {
              outline: none !important;
              box-shadow: none;
            }
          }
          .selectLocation{
            border: none;
            min-height: 70px;
            @media screen and (max-width: 767px) {
              min-height: auto;
              padding: 20px 25px;
            }
          }
        }
    .searchBox{
      width: 100%;
      &::before{
        @media screen and (max-width: 992px) {
          content: "\e81d";
          font-family: "fontello";
          z-index: 99;
          position: absolute;
          left: 25px;
          color: #a2a0a0;
          top: 18px;
          font-size: 18px;
        }
        @media screen and (max-width: 767px) {
          left: 23px;
          top: 18px;
        }
      }
        .searchInput {
          padding: 15px 15px 15px 30px;
          outline: none;
          font-size: 16px;
          border: none;
          border-left: 1px solid #ddd;
          width: 100%;
          min-height: 60px;
          background-color: #fff;
          color: #404040;
          @media screen and (min-width: 992px) and (max-width: 1199px) {
            padding: 15px 15px 15px 15px;
          }
          @media screen and (max-width: 992px) {
            padding: 15px 15px 15px 55px;
            min-height: 56px;
          }
          @media screen and (max-width: 767px) {
            min-height: 50px;
            padding: 14px 16px 14px 45px;
            font-size: 13px;
            font-weight: 300;
            color: #000;
            border-radius: 15px;
            border: 2px solid #ff6d01;
          }
        }
      }
        .searchButton {
          color: #fff;
          padding: 15px 20px;
          border: none;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          font-size: 20px;
          min-height: 60px;
          border-left: 0;
          background-color: #0078ff;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          position: relative;
          left: -18px;
          span{
            color: #fff;
          }
          @media screen and (max-width: 767px) {
            min-height: auto;
            padding: 15px 16px;
            left: 0;
            font-size: 16px;
            border-bottom-left-radius: 1px;
            border-top-left-radius: 1px;
          }
        }
        .suggestionList {
          position: absolute;
          background: white;
          border: 1px solid #ddd;
          border-radius: 4px;
          max-height: 195px;
          overflow-y: auto;
          width: 100%;
          z-index: 100;
          list-style: none;
          padding: 8px 0px;
          margin: 0;
          border-top: 0;
        }
        
        .suggestionItem {
          padding: 13px 15px;
          cursor: pointer;
          font-size: 14px;
          text-align: left;
          border-bottom: 1px solid #ddd;
          @media screen and (max-width: 767px) {
            font-size: 12px;
            padding: 8px 15px;
          }
          small{
            color: #313131;
            span{
              float: right;
              color: #313131;
              transform: rotate(40deg);
            }
          }
        }
        
        .suggestionItem:hover {
          background-color: #f0f0f0;
        }
        
      }
    }
      .imgWrap1{
        position: absolute;
        bottom: -25px;
        left: 0;
        @media screen and (max-width: 767px) {
          bottom: -9px;
        }
        img{
          @media screen and (max-width: 767px) {
            max-width: 70px;
            height: 70px;
          }
        }
      }
      .imgWrap2{
        position: absolute;
        bottom: -20px;
        right: 0;
        @media screen and (max-width: 767px) {
          bottom: -8px;
        }
        img{
          @media screen and (max-width: 767px) {
            max-width: 70px;
            height: 70px;
          }
        }
      }
  }
  

  .suggestionsDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 480px;
    overflow-y: auto;
    z-index: 10;
    @media screen and (max-width: 767px) {
      top: 53px;
      border-top: 0;
    }
    .loading{
      padding: 18px 0;
    font-weight: 300;
    }
  }
  
  .suggestionItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestionItem:hover {
    background-color: #f0f0f0;
  }
  .suggestionItem {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  
    &:hover {
      background: #f5f5f5;
    }
  }
  
  .suggestionContent {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .suggestionImage {
    width: 37px;
    height: 37px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .suggestionText {
    display: flex;
    flex-direction: column;
  }
  
  .mainLabel {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    @media screen and (max-width: 767px) {
      font-weight: 500;
    }
  }
  
  .subLabel {
    font-size: 12px;
    color: #777;
    margin-top: 2px;
    @media screen and (max-width: 767px) {
      font-size: 11px;
    }
  }
  
  

  // @media screen and (min-width: 1200px) and (max-width: 1650px){
  //   .participating_banner_text .fl-col-content.fl-node-content {
  //     padding: 20px 40px 10px 40px;
  //   }
  //   .participating_banner .fl-col-content.fl-node-content {
  //     min-height: 410px;
  //   }
  // }
  // @media screen and (max-width: 440px) {
  //   .participating_banner_text .fl-col-content.fl-node-content {
  //     padding: 15px;
  //   }
  //   .participating_banner_text .fl-col-content.fl-node-content .fl-heading.fl-heading-text {
  //     max-width: 340px;
  //     font-size: 20px;
  //     line-height: normal;
  //   }
  //   .participating_banner_text .fl-module.fl-module-rich-text.fl-rich-text {
  //     margin-top: 8px;
  //   }
  //   .participating_banner_text .fl-module.fl-module-rich-text.fl-rich-text p {
  //     font-size: 12px;
  //     line-height: 13px;
  //   }
  //   .participating_banner .fl-col-content.fl-node-content {
  //     min-height: 280px;
  //   }
  // }
  // @media screen and (max-width: 374px) {
  //   .participating_banner_text .fl-col-content.fl-node-content .fl-heading.fl-heading-text{
  //     font-size: 16px;
  //   }
  //   .participating_banner_text .fl-module.fl-module-rich-text.fl-rich-text p {
  //     font-size: 10px;
  //     line-height: normal;
  //   }
  //   .participating_banner .fl-col-content.fl-node-content {
  //     min-height: 230px;
  //   }
  //   .participating_banner_text .fl-col-content.fl-node-content {
  //     padding: 10px;
  //   }
  // }
